@charset"UTF-8";

/*Cabeça*/
body{
	background: url("https://www.papeleparede.com.br/6236-thickbox_default/papel-de-parede-floral-com-fundo-branco-e-flores-em-tons-de-rosa-rose-42.jpg") repeat right top fixed;
}
@media (max-width: 360px) {
	body {
		background:#ffe6e6;
	}
}
.ft-perfil{
	width:300px;
	height:auto;
	border-radius: 50%;
}
@media (max-width: 360px) {
	ft-perfil {
		width: 250px;	}
}
/*Corpo*/
.hum{
	font-size: 50px;
	text-align: center;
	font-family:Edwardian Script ITC;
	font-style: oblique;
	background-color:#FFF8DC;
}
.rede{
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 20px;
	transition: all 0.4s ease-out;
	border-radius: 560%;
}
@media (max-width:360px) {
	.rede{
		width: 80px;
		height: 80px;
		float: left;
		margin-left: 20px;
		transition: all 0.4s ease-out;
		border-radius: 100%;
	}
}

.icone{
	height: 90px;
	width:80px;
	padding:35px;
	margin: 0px auto;
}
@media (max-width: 360px) {
	.icone{
		width:30px;	
		height:40px;
		margin:0px auto;
		display: flex;
		align-items: center;
	}
}

.rede:hover{
	cursor: pointer;
	transform: translate(-20px);
	box-shadow: 4px 30px 16px 0px rgba(50,50,50,0.45);
}
